@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */

.border {
  border: 2px solid black;
}

.footer {
  display: grid;
  grid-template-columns: auto auto auto;
}

.footerlist {
  color: #929292;
  font-size: 14px;
}

.item1 {
  grid-column: 1 / span 2;
  grid-row: 1;
}
