@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.border {
  border: 2px solid red;
}
.parent-container {
  padding: 15px 7%;
}

.navbar-container {
  display: grid;
  grid-template-columns: 1fr 3fr 2fr;
  gap: 10px;
  align-items: center;
}
